<h1> корзина </h1>

<div id="cart">
{{#if courses.length}}
    <table>
        <thead>
            <tr>
                <th>название</th>
                <th>количество</th>
                <th>действия</th>
            </tr>
        </thead>
        <tbody>

            {{#each courses}}
            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td>
                    <button class="btn btn-small js-remove" data-id="{{id}}">удалить</button>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
    <p> <strong> цена</strong> <span class="price"> {{price}} </p>
{{else}}
    <h3> корзина пуста </h3> 
{{/if}}
</div>