<h2>курсы</h2>

{{#if courses.length}}
{{#each courses}}
      <div class="row">
    <div class="col s12 offset-s3">
      <div class="cart">
        <div class="cart-image">
          <img src="{{img}}" alt="{{title}}">
          
        </div>
        <div class="cart-content">
            <span class="cart-title">{{title}}</span>
            <h2 class="price">{{price}}</h2>
        </div>
        <div class="cart-action">
          <a href="/courses/{{id}}" target="_blank">открыть курс</a>
          <a href="/courses/{{id}}/edit?allow=true">редактировать курс</a>

            <form action="/cart/add" method="POST">
              <input type="hidden" name="id" value="{{id}}">
              <button type="submit" class="btn btn-primary"> купить </button>
            </form>

        </div>
      </div>
    </div>
  </div>
  {{/each}}
{{else}}
    <h2> курсов пока нет</h2>
{{/if}}